[Unit]
Description=Foo Service
After=network.target foo.socket
Requires=foo.socket

[Service]
Type=simple
ExecStart= /usr/local/bin/foo
StandardOutput=journal
StandardError=journal
StandardInput=null
TimeoutStopSec=5